.top{
	background-color: #777777;
	}

.myheader{
	position: relative;
	top: 10px;
	
}

.navbar{
	width: 85%;
	margin-left: 7.5%;
	
}

.measure{
	padding-top: 10%;
	padding-bottom: 7.5%;
	padding-left: 15%;
	padding-right: 15%;
	color: white;
	text-align: center;
	font-size: 20px;
	width: 100%;
}
.btn{
	margin-top: 10px;
}

.heading{
	margin: 5% 5%;
}
.col-md-4{
	text-align: center;
}

.img-circle{
	width: 37%;
}

.col-md-4 p{
	padding: 0 5%;
}

.container div{
	margin-top: 50px;
	font-size: 20px;

}
.container img{
	margin-top: 50px;
}

.container h1{
	font-size: 50px;
}

.footer{
	border-top: 1px solid #EEEEEE;
}

.footer p{
	margin: 5% 0;
}

.content {
	margin-bottom: 2%;
}