.wraper{
	margin-left:25%;
	width: 50%;
	margin-top: 20px;
}

/*.header{
	margin: 30px 0;
}*/

.header div{
	display: inline-block;
}
.header .progect-name{
	font-family: Arial;
	margin-bottom: 5px;
	font-size: 25px;
	color: gray;
}

.header .navigation {
	float: right;
	margin: 5px;
}

.header .navigation a{
	float: right;
	text-decoration: none;
	font-size: 18px;
	color:#337AC7;
	padding: 10px;
}

.header .navigation a:hover {
	background-color: #2D6CA2;
	color: white;
	border-radius: 5px;
}

hr{
	color:  #E5E5E5;
	width: 100%;
	margin-top: 30px;
}

.slider{
	background-color: #EEEEEE;
	border-radius: 10px;
	height: 360px;
	text-align: center;
}

.slider p:first-child{
	font-size: 60px;
	padding-top: 30px;
}

.slider p{
	position: relative;
	font-size: 20px;
	padding: 0 20px;
}

.slider button{
	background-color: #5CB85C;
	font-size: 20px;
	color: white;
	padding: 15px 15px;
	border-radius: 5px;
	border: none;

}

.content {
	padding: 10px;
}

.content .row {
	width: 100%;
}

.content .row .subheading {
	display: inline-block;
	width: calc(50% - 60px);
	margin: 0 10px 0 20px;
}

.content .row .subheading:nth-of-type(2n+1) {
	margin-left: 60px;

}

.footer p{
	margin-bottom: 30px;
}